$dark = #2D3744
$dark_app = #15181C
$titanium = #F2F4FA
$brand = #7446F6
$cream = #F2F2F0

$red = #E25454
$orange = #FF8947
$green = #00B473
$yellow = #F2C94C
$blue = #2570B6
$purple = #8229d6
$yellow_green = #B3D146

$laptop = 1200px
$tablet = 900px
$mobile = 600px

shadow()
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1)

white_shadow()
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.1)

main-gradient(dark_percent = 0%)
    background linear-gradient(90deg, darken(#5c32d4, dark_percent), darken(#32c0c0, dark_percent))

transparify(color, percent)
    mix(color, transparent, percent)

cardify(percent = 4%)
    shadow()
    background transparify(white, percent)
    border-radius 6px

background-blur(amount = 4px)
    backdrop-filter blur(amount)
    -webkit-backdrop-filter blur(amount)

outline-effect()
    outline $brand 1px dashed
    outline-offset 1px